{% extends "payment/base.html" %}

{% block content %}

    <section>
        <h1 class='section-title'>Compre Agora!</h1>
        <div class='products'>
            
            {% include "payment/partials/product_item.html" %}
            
            <div class="payments-ways">
                <a href="{% url 'payment:pix' product.id %}" class='product-buy'>
                    <h2>Pagamento instantâneo com pix!</h2>
                </a>
                <a href="#" class='product-buy'>
                    <h2>Pagamento em até 10x no cartão!</h2>
                </a>
            </div>
        </div>
    </section>
{% endblock content %}