*{
    margin: 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px){
    .products{
        grid-template-columns: 1fr !important;
        margin: auto !important;
    }
    .product{
        width: 140px !important;
        height: 140px !important; 
        
    }
    .product-info > h1, .product-info > h2{
        font-size: smaller !important;
    }
    
}
body{
    background-color: lightslategrey;
}
main{
    background-color: lightgrey;
    width: 75%;
    margin: auto;
    display: block;
}
header{
    padding: 20px 20px;
    background-color: dimgray;
}
header, header.header-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-btn, .header-logo{
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: larger;
}

section.index{
    padding: 20px;
}
.products{
    padding: 25px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: space-evenly;
    align-items: start; 
    justify-items: center;
}

.product{
    padding: 10px;
    text-decoration: none;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.product-info{
    height: 15%;
    display: flex;
    align-items: center;
}
.product-info > h1, .product-info > h2{
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: medium;
}
.product-img{
    height: 70%;
    border: 1px solid black;
}


.payments-ways{
    padding: 10px;

}
.product-buy{
    
    text-decoration: none;
}
.product-buy > h2{
    padding: 10px 0;
    color: black;
}




.pix-qrcode{
    margin: auto;
    width: 200px;
    height: 200px;
}

.pix-qrcode > img{
    width: 100%;
}

.section-title{
    text-align: center;
    width: 200px;
}
.pix-copy-paste, .section-title{
    padding: 4px 10px;
    display: block;
    margin: 20px auto;
}
